<config>	
	<map LonLat="0 , -0" Zoom="0">  
        <BaseLayers>
          
		      <layer name="iServer1" type="tiled" url="http://localhost:8090/iserver/services/map-world/rest/maps/World Map" />
			  <layer name="iServer2" type="tiled" url="http://localhost:8090/iserver/services/map-jingjin/rest/maps/京津地区人口分布图_专题图" />
			  <layer name="esri" type="arcgis" url="http://server.arcgisonline.com/ArcGIS/rest/services/ESRI_StreetMap_World_2D/MapServer" />
			  <layer name="wms" type="wms" url="http://vmap0.tiles.osgeo.org/wms/vmap0" />
			  <layer name="cloud" type="cloud"  />
			  <layer name="google" type="google"  />
			  <layer name="osm" type="osm"  />
			  <layer name="tdt" type="tdtlayer"  />
        </BaseLayers>
        <Overlaps />
		    
        <Controls>
			    <ScaleLine />
			    <PanZoom />
			    <Navigation />
				<LayerSwitcher />
		</Controls>
	</map>
	
	<layout>
    <page_name>index</page_name>
	<title>Javascript BEV 1.0</title>
    
	<template src="./base/base0.html" />
	
    <panel id="search" path="./models/sample/" />
	
	<server_use>Tomcat</server_use> // Tomcat or IIS
    
	</layout>
</config>